
#fotoInicio{
    background-image: url("../images/palomitas2.png");
    background-size: cover;
    height: 90vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row
{
    padding-top: 5vh;
    width: 99.75vw;
    padding-left:3vw;
    padding-right: 2vw;
    background-color: #F4EBDB;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.row2
{
    /*width: 99vw;*/
    padding-left:3vw;
    padding-right: 2vw;
    background-color: #8e9b97;
    border-color: #8e9b97;
    border-style: dashed;
}

.row3
{
    padding-left: 15vw;
    /*width: 99vw;*/
    align-items: center !important;
    background-color: #8e9b97;
    text-align: center;
    justify-content: center;

}
section > div
{
    display: table-cell;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 23vw;
}


.modal-header{
    background-color: #8e9b97;
    color: white;
    text-indent: 4px;
}

.modal-text{
    background-color: whitesmoke;

}

.modal-footer{
    background-color: #8e9b97;
}


.centra{
    align-items: center;
    text-align: center;
}
.imagen{
    align-items: center !important;
    text-align: center;
    padding-top: 3vh;
    height: 40vh;
}
.btn:hover{
    cursor: pointer;
}
