<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EliminarFilme</servlet-name>
        <servlet-class>servlet.EliminarFilme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarFilmeServlet</servlet-name>
        <servlet-class>servlet.agregarFilmeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarRechazarArtista</servlet-name>
        <servlet-class>servlet.AceptarRechazarArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarEpisodioServlet</servlet-name>
        <servlet-class>servlet.agregarEpisodioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarFilme</servlet-name>
        <url-pattern>/EliminarFilme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarFilmeServlet</servlet-name>
        <url-pattern>/agregarFilmeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarRechazarArtista</servlet-name>
        <url-pattern>/AceptarRechazarArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarEpisodioServlet</servlet-name>
        <url-pattern>/agregarEpisodioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
